body{
    background-color: yellow;
}

@media only screen and (min-width: 700px){
    body{
        background-color: blue;
        
    }
}

@media only screen and (orientation: landscape) and (max-width: 768px){
    body{
        background-color: green;
        
    }
}